*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color : #870412;
  }
  
  :root {
    --base-color-1: #8a071d;
    --base-color-2: #0d0d0d;
    --lighter-base-color-1: #c71212;
    --lighter-base-color-2: #242020;
    --face-color: #73989e;
    --lighter-face-color: #CAE8ED;
    --border-color: #000000; 
  }
  
  /* Common */
  
  .face{ 
    position: absolute;
    right: -20px;
    top: 25px;
    z-index: 2;
    
    background-color: var(--face-color);
    width: 130px;
    height: 90px;
    transform: rotate(-4deg);
  
    border: 12px solid var(--border-color);
    border-radius: 70px 90px 110px 110px;
  }
  
  .face-light-part {
    position: relative;
    width: 94px;
    height: 50px;
    margin: 0px 12px;
    background-color: var(--lighter-face-color);
    border-radius: 30% 40% 55% 50%;
    display: inline-block;
  }
  
  .shimmer {
    position: relative;
    margin: 4px 25px;
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 40% 50% 50% 40%;
  }
  
  .backpack-light-part {
    margin-left: 2px;
    height: 25px;
    width: calc(100% - 2px);
    
    background-color: var(--lighter-base-color);
    
    border-radius: 50% 0 0 20%;
  }
  
  /* Red Crewmate */
  
  .red-crew {
    position: absolute;
    margin: 500px 330px;
    width: 158px;
    height: 230px;
    background-color: var(--base-color-1);
    transform: rotate(0deg);
    border: 12px solid var(--border-color);
    border-radius: 70px 85px 70px 70px;
  }
  
  
  .body-light-part-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    width: 95%;
    height: 90%;
    background-color: var(--lighter-base-color-1);
    transform: rotate(-2deg);
    border-radius: 40% 50% 36% 30%;
  }
  
  .backpack-1{
    position: absolute;
    left: 0;
    top: 65px;
    width: 50px;
    height: 150px;
    transform: translate(-100%);
    
    background-color: var(--base-color-1);
    border: 12px solid var(--border-color);
    border-radius: 40% 0 0 50%;
  }
  
  .leg-left-under-1 {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 70px;
    height: 60px;
    
    background-color: var(--base-color-1);
    border-left: 12px solid var(--border-color);
  }
  
  .leg-left-1 {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 65px;
    height: 56px;
    transform: translateY(55px);
    
    background-color: var(--base-color-1);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  .leg-right-under-1 {
    position: absolute;
    bottom: -4px;
    left: 70px;
    
    width: 65px;
    height: 32px;
    
    background-color: var(--base-color-1);
    border-right: 12px solid var(--border-color);
  }
  
  .leg-right-1 {
    position: absolute;
    bottom: -50px;
    left: 70px;
    
    width: 65px;
    height: 50px;
    
    background-color: var(--base-color-1);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  /* Black Crewmate */
  
   .black-crew {
    position: absolute;
    margin: 500px 700px 0px ;
    width: 155px;
    height: 230px;
    background-color: var(--base-color-2);
    transform: rotate(0deg);
    border: 12px solid var(--border-color);
    border-radius: 70px 85px 70px 70px;
  }
  
  
  .body-light-part-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    width: 95%;
    height: 90%;
    background-color: var(--lighter-base-color-2);
    transform: rotate(-2deg);
    border-radius: 40% 50% 36% 30%;
  }
  
  .backpack-2{
    position: absolute;
    left: 0;
    top: 65px;
    width: 50px;
    height: 150px;
    transform: translate(-100%);
    
    background-color: var(--base-color-2);
    border: 12px solid var(--border-color);
    border-radius: 40% 0 0 50%;
  }
  
  .leg-left-under-2 {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 70px;
    height: 60px;
    
    background-color: var(--base-color-2);
    border-left: 12px solid var(--border-color);
  }
  
  .leg-left-2 {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 65px;
    height: 56px;
    transform: translateY(55px);
    
    background-color: var(--base-color-2);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  .leg-right-under-2 {
    position: absolute;
    bottom: -4px;
    left: 70px;
    
    width: 65px;
    height: 32px;
    
    background-color: var(--base-color-2);
    border-right: 12px solid var(--border-color);
  }
  
  .leg-right-2 {
    position: absolute;
    bottom: -50px;
    left: 70px;
    
    width: 65px;
    height: 50px;
    
    background-color: var(--base-color-2);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  .header{
    text-align : center;
    font-size : 120px;
    padding : 100px;
    font-family: 'VT323', monospace;
  }
  #credit {
    height: 60px;
    font-family: Quicksand, sans-serif;
    text-align : center;
  }
  
  .report{
    margin-left : 100px;
    margin-top : 70px;
     font-size : 120px;
  }
  
  .kill{
     margin-left : 850px;
    margin-top : 70px;
     font-size : 120px;
  }